@keyframes star-move {
  0%,
  40%,
  100% {
    opacity: 0;
  }
  20%,
  60% {
    opacity: 1;
  }
}

.star-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.star {
  position: absolute;
  background-color: #f5f5f5;
  border-radius: 50%;
  animation-name: star-move;
  animation-iteration-count: infinite;
}
