header {
  position: fixed;
  z-index: 100;

  width: 100%;
  height: 5rem;

  display: flex;

  color: var(--color-white-1);

  background: var(--color-black-1);
}

nav {
  width: 100%;
  max-width: 1240px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 58px;
}

header nav .logo {
  display: flex;
  align-items: center;

  cursor: pointer;
}

header nav .logo-img {
  width: 59px;
}

header nav .logo-text {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.025em;
}

header nav .desktop-menu {
  display: flex;
  align-items: center;
  gap: 3rem;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: -0.025em;
}

header nav .desktop-menu a {
  cursor: pointer;
}

header nav .desktop-menu .menu-divider {
  width: 3px;
  height: 14px;

  background: var(--color-white-1);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

header nav .google-action {
  display: flex;
  align-items: center;

  margin-right: 0.5rem;

  padding: 0.625rem 1.25rem;

  border: 0.4px solid #ffffff;
  border-radius: 8px;

  cursor: pointer;
}

header nav .google-action .google-img {
  width: 24px;
  height: 24px;
}

header nav .google-action .google-text {
  margin-left: 0.625rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;

  letter-spacing: -0.025em;
}

header nav .menu-toggle {
  margin-right: 0.375rem;

  display: none;
  flex-direction: column;
  gap: 4.5px;

  cursor: pointer;
}

header nav .menu-toggle .bar {
  width: 18px;
  height: 2px;

  background: var(--color-gray-1);
  border-radius: 20px;
}

/* @media screen and (max-width: 830px) {
  .header-left {
    gap: 3rem;
  }

  header nav .logo-img {
    width: 48px;
  }

  header nav .logo-text {
    font-size: 0.75rem;
  }

  header nav .desktop-menu {
    gap: 2rem;

    font-size: 0.875rem;
  }

  header nav .desktop-menu .menu-divider {
    width: 2.5px;
    height: 13px;
  }

  header nav .google-action .google-img {
    width: 18px;
    height: 18px;
  }

  header nav .google-action .google-text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    height: 54px;
  }

  .header-left {
    gap: 38px;
  }

  header nav .logo-img {
    width: 40px;
  }

  header nav .logo-text {
    font-size: 0.625rem;
  }

  header nav .desktop-menu {
    gap: 1rem;

    font-size: 0.75rem;
  }

  header nav .desktop-menu .menu-divider {
    width: 2px;
    height: 9px;
  }

  header nav .google-action {
    padding: 5px 10px;
  }

  header nav .google-action .google-img {
    width: 14px;
    height: 14px;
  }

  header nav .google-action .google-text {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 48px;
  }

  .header-left {
    gap: 28px;
  }

  header nav .logo-img {
    width: 24px;
  }

  header nav .logo-text {
    font-size: 0.5rem;
  }

  header nav .desktop-menu {
    display: none;
  }

  header nav .google-action {
    padding: 0.25rem;
    border-radius: 50%;
  }

  header nav .google-action p {
    display: none;
  }

  header nav .menu-toggle {
    display: flex;
  }
} */
