/* 모달 레이아웃 스타일 */
.modal-style {
  border: 1px solid transparent;

  background-image: 
    /* 그라데이션 배경 */
    linear-gradient(
      178.06deg,
      rgba(0, 0, 0, 0) -38.64%,
      rgba(59, 102, 123, 0.1) 29.86%,
      rgba(118, 203, 246, 0.2) 98.36%
    ),
    /* 검은색 배경 */ linear-gradient(#000000, #000000),
    /* 외곽선 */ linear-gradient(to bottom, #ffffff, #427e9c);

  /* 영역 자르기 */
  background-origin: border-box;
  background-clip: padding-box, padding-box, border-box;
}

/* 버튼 스타일 */
.button-style {
  border-style: solid;
  border-color: transparent;

  background-image: 
    /* 그라데이션 배경 */
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      #0a7cff 100%
    ),
    linear-gradient(#171717, #171717),
    linear-gradient(to right, #f7e9d3 0%, #f7e9d3 43%, #00eeff 100%);

  /* 영역 자르기 */
  background-origin: border-box;
  background-clip: padding-box, padding-box, border-box;

  cursor: pointer;
}

.recruit-box {
  border: 1.2px solid transparent;
  border-radius: 44px;

  background-image:
    linear-gradient(#000000, #000000),
    linear-gradient(to bottom right, #ffffff 0%, #427e9c 100%);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  cursor: pointer;
}
