.MainPageFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 4500px;
  width: 1920px;
}

.MainPageTextComponentFrame {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 94, 94);
}

.MainPageFristSection {
  width: 800px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  border: 1px solid #ffffff;
}

.MainPageSecondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DistrictImgFrame {
  margin-top: 120px;
  margin-bottom: 200px;
}

.MovingSectionContainer {
  width: 1920px;
  height: 402px;
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.MainPageSpaceOne {
  width: 1920px;
  height: 200px;
}

.MovingRightBox {
  width: 461px;
  height: 312px;
  border-radius: 44px;

  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(0deg, #ffffff 9.86%, #76cbf6 74.84%) border-box;

  border: 1px solid transparent;

  box-shadow: 0px 5px 20px 4px #9ed8f587;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: moveBoxRight 16s linear infinite;
}

@keyframes moveBoxRight {
  0% {
    transform: translateX(-461px);
  }
  100% {
    transform: translateX(calc(1920px + 461px));
  }
}

.MovingLeftItem {
  width: 461px;
  height: 312px;
  border-radius: 44px;

  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(0deg, #ffffff 9.86%, #76cbf6 74.84%) border-box;

  border: 1px solid transparent;

  box-shadow: 0px 5px 20px 4px #9ed8f587;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: moveBoxLeft 16s linear infinite;
}

@keyframes moveBoxLeft {
  0% {
    transform: translateX(calc(1920px + 461px));
  }
  100% {
    transform: translateX(-461px);
  }
}

.MovingItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 262px;
  width: 450px;
  position: relative;
}

.MovingItemTitle {
  position: absolute;
  top: 0px;

  font-family: Pretendard;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -3%;

  background: linear-gradient(
    178.98deg,
    #62e1ef -4.89%,
    #7ac7f7 18.12%,
    #92adff 46.03%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MovingItemSub {
  position: absolute;
  bottom: 0px;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: -3%;
}

.PartIntroduceSection {
  width: 1920px;
}

.PartIntroduceSectionContainer {
  width: 1920px;
  height: 446px;
  margin-top: 120px;

  display: flex;
  justify-content: space-around;
}

.PartIntroduceComponentFrame {
  width: 333px;
  height: 446px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.PartIntroduceComponentBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 283px;
  border-radius: 44px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 112, 255, 0.49) 2.88%,
    rgba(0, 67, 153, 0.06) 100%
  );

  box-shadow: 0px 5px 20px 4px rgba(158, 216, 245, 0.53);
}

/* 그라데이션 테두리 */
.PartIntroduceComponentBox::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px; /* 테두리 두께 */
  border-radius: 44px;

  background: linear-gradient(166.2deg, #ffffff 9.86%, #76cbf6 74.84%);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

.PartIntroduceComponentTextBox {
  width: 300px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PartIntroduceComponentTextBoxTwo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.PartIntroduceComponentTitle {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: -2.5%;
  text-align: center;

  background: linear-gradient(90deg, #ffffff 0%, #9eeaff 98.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.PartIntroduceComponentTitleKorean {
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;

  margin-left: 14px;
}

.PartIntroduceComponentSub {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;

  display: flex;

  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MainPageSpaceTwo {
  width: 1920px;
  height: 200px;
}
