@keyframes star-move {
  0%,
  40%,
  100% {
    opacity: 0;
  }
  20%,
  60% {
    opacity: 1;
  }
}

/* 전체 배경 */
.star-container {
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden;
  position: absolute;
}

/* 별 기본 스타일 */
.star {
  position: absolute;
  background-color: #f5f5f5;
  border-radius: 50%;
  animation-name: star-move;
  animation-iteration-count: infinite;
}
