/* 전체 장면 */
.scene {
  width: 300px;
  height: 300px;
  perspective: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 자전축 (지구처럼 살짝 기울임) */
.axis {
  transform-style: preserve-3d;
  /* transform: rotate(45deg); */
  transform: rotateX(-65deg) rotateZ(35deg);
}

/* 구 */
.sphere {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform-style: preserve-3d;

  /* background: white; */

  animation: spin 30s linear infinite;
}

/* 위도선 */
/* .latitude {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;

  border-radius: 50%;
  border: 2px solid rgba(214, 14, 14, 0.5);
  background: linear-gradient(85deg, #f8830e -33.87%, #427e9c 81.79%);

  transform-style: preserve-3d;
  transform-origin: center;
  translate: -50% -50%;
} */

.latitude2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;

  border-radius: 50%;
  border: 4px solid var(--color-blue4);

  transform-style: preserve-3d;
  transform-origin: center;
  translate: -50% -50%;
  transform: rotateX(90deg);
}

/* 경도선 */
.longitude {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 540px;
  height: 540px;

  border-radius: 50%;
  border: 4px solid #518bd5;
  transform-style: preserve-3d;
  transform-origin: center;
  translate: -50% -50%;
}

/* 자전 애니메이션 */
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(800deg);
  }
}
