.AdditionalPage {
  height: 2019px;
  width: 1920px;
  background: var(
    --back,
    linear-gradient(
      178deg,
      rgba(0, 0, 0, 0) -38.64%,
      rgba(118, 203, 246, 0.2) -38.62%,
      rgba(59, 102, 123, 0.1) 87.16%
    ),
    #000
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
