.project-page {
  min-height: 100dvh;
  width: 100%;

  background: #000;

  color: #fff;
}

.project-page__content {
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 64px;
}

@media (max-width: 1024px) {
  .project-page__content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.project-page__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 96px;
}

.project-page__title-wrap {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  order: 2;
}

.project-page__title {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin: 0;
}

.project-page__filters {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  order: 1;
}

:root {
  --card-w: 389.93px;
  --gap-x: 131.995px;
  --grid-w-3: calc(var(--card-w) * 3 + var(--gap-x) * 2);
  --grid-w-2: calc(var(--card-w) * 2 + var(--gap-x) * 1);
}

.project-page__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; 
  padding-left: 48px;
  padding-right: 48px;          
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 389.93px);
  column-gap: 80px;
  row-gap: 96px;

  justify-content: center;
  justify-items: stretch;
}

@media (max-width: 1100px) {
  .project-page__container {
    width: min(var(--grid-w-2), 100%);
  }
  .project-grid {
    grid-template-columns: repeat(2, 389.93px);
    justify-content: center;
    row-gap: 96px;
    column-gap: 131.995px;
  }
}

@media (max-width: 700px) {
  .project-page__container {
    width: 100%;
  }
  .project-page__top {
    gap: 18px;
    align-items: stretch;
  }

  .project-page__filters {
    justify-content: center;
  }

  .project-grid {
    grid-template-columns: 1fr;
    justify-content: stretch;
    gap: 24px;
  }
}

.project-card {
  width: 389.93px;
  height: 280px;
  border: 1px solid transparent;
  border-radius: 30px;

  background-image:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(23, 23, 23, 0.85) 100%
    ),
    linear-gradient(#000, #000),
    linear-gradient(
      180deg,#ffffff 0%, #76cbf6 100%
    );

  background-origin: border-box;
  background-clip: padding-box, padding-box, border-box;

  box-shadow: 
    0 0 0 1px rgba(255, 255, 255, 0.06) inset,
    0 10px 32px rgba(0, 0, 0, 0.55),
    0 0 28px rgba(72, 185, 255, 0.14);

  overflow: hidden;

  position: relative;
}

.project-card__inner {
  padding: 22px 22px 20px;
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
}

.project-card__row {
  display: flex;
  justify-content: space-between; 
  gap: 16px;
  align-items: flex-start;
  padding-top: 38px;
}

.project-card__title {
  margin: 0;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

.project-card__title--center {
  text-align: center;
  font-size: 30px;
  margin-top: 2px;
}

.project-card__media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.project-card__media--center {
  width: 100%;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.project-card__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  filter: drop-shadow(0 10px 16px rgba(0, 0, 0, 0.55));
  opacity: 0.95;
}

.project-card__subtitle {
  margin: 14px 0 8px;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.92);
}

.project-card__subtitle--center {
  text-align: center;
  margin-top: 6px;
}

.project-card__desc {
  margin: 0;
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.75);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.project-card--farmto .project-card__inner {
  padding: 0;           
  position: relative;
}

.project-card--farmto .project-card__row {
  padding-top: 0;
}

.project-card__title--farmto {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 122.42px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--farmto {
  position: absolute;
  top: 32px;
  right: 25px;
  width: 178.12px;
  height: 143px;
}

.project-card__media--knock {
  width: 213.37px;
  height: 138.21px;
  transform: translateY(-17px);
}

.project-card__subtitle--farmto {
  position: absolute;
  left: 35px;            
  top: 169px;            

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.03em;      

  color: rgba(255, 255, 255, 0.92);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--farmto {
  position: absolute;
  left: 35px;
  top: 207px;            

  width: 338px;
  height: 59px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--difeboat  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--difeboat  .project-card__row {
  padding-top: 0;
}

.project-card__title--dlifeboat {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--dlifeboat {
  position: absolute;
  right: 6px;
  top: 50px;

  width: 188px;
  height: 125.91px;
}

.project-card__subtitle--dlifeboat {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--dlifeboat {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 325px;

  height: 59px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;

  word-break: keep-all;
  overflow: hidden;
}

.project-card--investmoney  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--investmoney  .project-card__row {
  padding-top: 0;
}

.project-card__title--investmoney {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--investmoney {
  position: absolute;
  right: 22px;
  top: 58px;

  width: 186px;
  height: 126.8px;
}

.project-card__subtitle--investmoney {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--investmoney {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 320px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--safety  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--safety  .project-card__row {
  padding-top: 0;
}

.project-card__title--safety {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--safety {
  position: absolute;
  right: 2px;
  top: 50px;

  width: 199px;
  height: 133px;
}

.project-card__subtitle--safety {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--safety {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 315px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--coinshooter  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--coinshooter  .project-card__row {
  padding-top: 0;
}

.project-card__title--coinshooter {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--coinshooter {
  position: absolute;
  right: 25px;
  top: 45px;

  width: 183.14px;
  height: 131.39px;
}

.project-card__subtitle--coinshooter {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--coinshooter {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 320px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--mimiki  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--mimiki  .project-card__row {
  padding-top: 0;
}

.project-card__title--mimiki {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--mimiki {
  position: absolute;
  right: 22px;
  top: 45px;

  width: 160px;
  height: 138px;
}

.project-card__subtitle--mimiki {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--mimiki {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 320px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--seniormond  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--seniormond  .project-card__row {
  padding-top: 0;
}

.project-card__title--seniormond {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--seniormond {
  position: absolute;
  right: 22px;
  top: 45px;

  width: 192.19px;
  height: 130.92px;
}

.project-card__subtitle--seniormond {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--seniormond {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 320px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--chellengers  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--chellengers  .project-card__row {
  padding-top: 0;
}

.project-card__title--chellengers {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--chellengers {
  position: absolute;
  right: 22px;
  top: 62px;

  width: 167,95px;
  height: 114.41px;
}

.project-card__subtitle--chellengers {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--chellengers {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 325px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--apply  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--apply  .project-card__row {
  padding-top: 0;
}

.project-card__title--apply {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--apply {
  position: absolute;
  right: -4px;
  top: 50px;

  width: 206.55px;
  height: 137.89px;
}

.project-card__subtitle--apply {
  position: absolute;
  left: 35px;
  top: 169px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--apply {
  position: absolute;
  left: 35px;
  top: 207px;

  width: 325px;
  height: 57px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--node  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--node  .project-card__row {
  padding-top: 0;
}

.project-card__title--node {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--node {
  position: absolute;
  right: 25px;
  top: 40px;

  width: 173.98px;
  height: 141.21px;
}

.project-card__subtitle--node {
  position: absolute;
  left: 35px;
  top: 145px;

  width: 335px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--node {
  position: absolute;
  left: 35px;
  top: 188px;

  width: 341px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;

  overflow: hidden;
}

.project-card--promptfriend  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--promptfriend  .project-card__row {
  padding-top: 0;
}

.project-card__title--promptfriend {
  position: absolute;
  left: 35px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--promptfriend {
  position: absolute;
  right: 15px;
  top: 38px;

  width: 188px;
  height: 126px;
}

.project-card__subtitle--promptfriend {
  position: absolute;
  left: 35px;
  top: 145px;

  width: 340px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--promptfriend {
  position: absolute;
  left: 35px;
  top: 175px;

  width: 320px;
  height: 95px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.06em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;

  overflow: hidden;
}

.project-card--freshtime  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--freshtime  .project-card__row {
  padding-top: 0;
}

.project-card__title--freshtime {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--freshtime {
  position: absolute;
  right: -15px;
  top: 35px;

  width: 222px;
  height: 147px;
}

.project-card__subtitle--freshtime {
  position: absolute;
  left: 35px;
  top: 155px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--freshtime {
  position: absolute;
  left: 35px;
  top: 198px;

  width: 340px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;
  overflow: hidden;
}

.project-card--time2do  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--time2do  .project-card__row {
  padding-top: 0;
}

.project-card__title--time2do {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--time2do {
  position: absolute;
  right: 20px;
  top: 18px;

  width: 213px;
  height: 163px;
}

.project-card__subtitle--time2do {
  position: absolute;
  left: 35px;
  top: 152px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--time2do {
  position: absolute;
  left: 35px;
  top: 188px;

  width: 340px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;
  overflow: hidden;
}

.project-card--nespect  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--nespect  .project-card__row {
  padding-top: 0;
}

.project-card__title--nespect {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--nespect {
  position: absolute;
  right: 10px;
  top: 45px;

  width: 181.11px;
  height: 139.37px;
}

.project-card__subtitle--nespect {
  position: absolute;
  left: 35px;
  top: 166px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--nespect {
  position: absolute;
  left: 35px;
  top: 198px;

  width: 340px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;
  overflow: hidden;
}

.project-card--knock  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--knock  .project-card__row {
  padding-top: 0;
}

.project-card__title--knock {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--knock {
  position: absolute;
  right: 15px;
  top: 80px;

  width: 162.84px;
  height: 138px;
}

.project-card__subtitle--knock {
  position: absolute;
  left: 35px;
  top: 152px;

  width: 180px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  word-break: break-word;
  overflow: hidden;
  display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}

.project-card__desc--knock {
   position: absolute;
  left: 35px;
  top: 195px;

  width: 340px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;
  overflow: hidden;
}

.project-card--gabom  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--gabom  .project-card__row {
  padding-top: 0;
}

.project-card__title--gabom {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--gabom {
  position: absolute;
  right: 30px;
  top: 28px;

  width: 173px;
  height: 183px;
}

.project-card__subtitle--gabom {
  position: absolute;
  left: 35px;
  top: 152px;

  width: 190px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  word-break: break-word;
  overflow: hidden;
  display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}

.project-card__desc--gabom {
   position: absolute;
  left: 35px;
  top: 205px;

  width: 315px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;
  overflow: hidden;
}

.project-card--marketbee  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--marketbee  .project-card__row {
  padding-top: 0;
}

.project-card__title--marketbee {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: pre-line;
}

.project-card__media--marketbee {
  position: absolute;
  right: 10px;
  top: 40px;

  width: 222px;
  height: 142px;
}

.project-card__subtitle--marketbee {
  position: absolute;
  left: 35px;
  top: 160px;

  width: 200px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--marketbee {
   position: absolute;
  left: 35px;
  top: 199px;

  width: 330px;
  height: 76px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--rerise  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--rerise  .project-card__row {
  padding-top: 0;
}

.project-card__title--rerise {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--rerise {
  position: absolute;
  right: 40px;
  top: 25px;

  width: 111.51px;
  height: 154.11px;
}

.project-card__subtitle--rerise {
  position: absolute;
  left: 35px;
  top: 160px;

  width: 200px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--rerise {
   position: absolute;
  left: 35px;
  top: 199px;

  width: 330px;
  height: 96px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--festival  .project-card__inner {
  padding: 0;
  position: relative;
}

.project-card--festival  .project-card__row {
  padding-top: 0;
}

.project-card__title--festival {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--festival {
  position: absolute;
  right: 3px;
  top: 10px;

  width: 233.82px;
  height: 179px;
}

.project-card__subtitle--festival {
  position: absolute;
  left: 35px;
  top: 150px;

  width: 180px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  word-break: break-word;
  overflow: hidden;
  display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}

.project-card__desc--festival {
   position: absolute;
  left: 35px;
  top: 205px;

  width: 330px;
  height: 96px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: pre-line;
  word-break: keep-all;
  overflow: hidden;
}

.project-card--lococo  .project-card__row {
  padding-top: 0;
}

.project-card__title--lococo {
  position: absolute;
  left: 34.98px;
  top: 32px;

  width: 155px;
  height: 67px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 0%, #76cbf6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.project-card__media--lococo {
  position: absolute;
  right: -20px;
  top: 20px;

  width: 253px;
  height: 183.2px;
}

.project-card__subtitle--lococo {
  position: absolute;
  left: 35px;
  top: 160px;

  width: 330px;
  margin: 0;

  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.00em;

  line-height: 18px;

  color: rgba(255, 255, 255, 0.92);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__desc--lococo {
   position: absolute;
  left: 35px;
  top: 192px;

  width: 340px;
  height: 96px;

  margin: 0;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.03em;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.75);

  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break:strict;
  overflow: hidden;
}