@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

@import "tailwindcss";

@theme {
  --font-sans: "Pretendard";

  /* CSS 변수 */
  --color-sub1: #696969;
  --color-sub2: #989898;

  --color-black1: #000000;
  --color-black2: #171717;
  --color-balckWorm: #494949;

  --color-white1: #ffffff;
  --color-white2: #f8f8f8;
  --color-white3: #f9f9f9;

  --color-muted: #efefef;

  --color-blue: #4285f4;
  --color-blue3: #8299b4;
  --color-blue4: #518bd5;
  --color-blue5: #354d67;

  --color-gray1: #b2b2b2;
  --color-gray2: #d9d9d9;
  --color-gray3: #8a8a8a;
  --color-gray4: #989898;
  --color-gray5: #959595;
  --color-gray6: #bec6cf;

  --color-pink: #d09a9f;
  --color-red: #e94235;
  --color-yellow: #fbbc04;
  --color-green: #34a853;
  --color-button-active: #003f87b3;
}

/* 모달 레이아웃 스타일 */
.modal-style {
  border: 1px solid transparent;

  background-image: 
    /* 그라데이션 배경 */
    linear-gradient(
      178.06deg,
      rgba(0, 0, 0, 0) -38.64%,
      rgba(59, 102, 123, 0.1) 29.86%,
      rgba(118, 203, 246, 0.2) 98.36%
    ),
    /* 검은색 배경 */ linear-gradient(#000000, #000000),
    /* 외곽선 */ linear-gradient(to bottom, #ffffff, #427e9c);

  /* 영역 자르기 */
  background-origin: border-box;
  background-clip: padding-box, padding-box, border-box;
}

/* 모달 버튼 스타일 */
.modal-button-style {
  border: 0.4px solid transparent;

  border-radius: var(--modal-button-radius);

  background-image: 
    /* 그라데이션 배경 */
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      #0a7cff 100%
    ),
    linear-gradient(#171717, #171717),
    linear-gradient(to right, #f7e9d3 0%, #f7e9d3 43%, #00eeff 100%);

  /* 영역 자르기 */
  background-origin: border-box;
  background-clip: padding-box, padding-box, border-box;
}

/* css 변수 선언하는 곳 */
:root {
  /* 모달 버튼*/
  --modal-button-radius: 55px;
}

a {
  text-decoration: none;
}
